<form action=""
      [formGroup]="form"
      class="main-form">
  <h4>Upper form</h4>
  <label>First name</label>
  <input type="text"
         formControlName="firstName">
  <div formArrayName="addresses">
    <app-address
      *ngFor="let address of addresses.controls; let i=index"
      [formControlName]="i">
    </app-address>
  </div>
  <button (click)="addAddress()">Add another address</button>


  <p>Form:</p>
  <pre>{{form.value|json}}</pre>
  <p>Validity</p>
  <pre>{{form.valid|json}}</pre>
</form>
